body{
    background-image: url(img/Progetto\ senza\ titolo\ \(18\).png);
}

.sfondo{
    height: 580px;
    background: transparent;
    background-color: transparent;
    border-radius: 20px;
    border: 1px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.205);
}

header{
    padding: 0px;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
}
footer{
}

h1{
    text-align: center;
    padding-bottom: 35px;
    padding-top: 20px;
    color: rgba(216, 17, 140, 0.856);
    font-family: 'Alata', sans-serif;

}
h4{
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
    margin-left :60px;
}
* {
    box-sizing: border-box;
    
  }
  .conteiner{
    width: 80%;
    margin:auto;

  }
  img{
    height: 70px;
    float: left;
    border-radius: 30px;
  }
  .box {
    background-color: black;
    border-radius: 30px;
    float: left;
    width: calc((100%/3) - 40px);
    margin: 20px;
    box-shadow: 5px 5px 10px rgb(179, 177, 177);
   
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
span{
    color: antiquewhite;
    font-size: 13px;
    font-family: 'Alata', sans-serif;
    margin-left: 20px;

}
.email{
    color: rgb(14, 145, 252);
}